/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

body.lock {
	overflow: hidden;
}

/* Важный класс. Присваивая этот обертке непосредственному родителю или 
на уровни выше ссылки на popup можно регулировать отступ справа блоков, которые находятся под popup */
.wrapper__scroll {
	overflow: hidden;
	min-height: 100%;
}
/* Замена-1 */
.popup-team {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-transition: all 0.8s ease 0s;
	-o-transition: all 0.8s ease 0s;
	transition: all 0.8s ease 0s;
}
/* Замена-2 */
.popup-team.open {
	opacity: 1;
	visibility: visible;
	 z-index: 100;
}

/* Замена-3 */
.popup-team.open .popup__content {
	-webkit-transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
	        transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
	opacity: 1;
}

.popup__area {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.popup__body {
	min-height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	padding: 30px 10px;
	-webkit-transition: all 0.8s ease 0s;
	-o-transition: all 0.8s ease 0s;
	transition: all 0.8s ease 0s; /* значение должно быть равно значению в popup.js (const timeout = 800;) */ 
}
.popup__content {
	background-color: #fff;
	color: #000;
	max-width: 800px;
	padding: 30px;
	position: relative;
	-webkit-transition: all 0.8s ease 0s;
	-o-transition: all 0.8s ease 0s;
	transition: all 0.8s ease 0s;
	opacity: 0;
	-webkit-transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
	        transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}
.popup__close {
	position: absolute;
	left: 0;
	top: 0px;
	/* right: 10px;
	top: 10px; */
	font-size: 20px;
	color: #000;
	text-decoration: none;
}
.popup__title {
	font-size: 24px;
	margin: 0px 0px 1em 0px;
}
.popup__blocks {
	color: brown;
}
.popup__btn {
	padding: 10px 30px;
}

/* Для плавного закрытия окна */
.swiper-container {
	z-index: 1;
}

.popup-link__hover:hover{
	color:inherit;
}