.baner_form {
  position: relative;
}

.baner__form-loader-1  {
    background-image: url('ajax-loader.gif' );
    background-repeat: no-repeat;
    position: absolute;
    bottom: -54px;
    left: 115px;
    height: 88px;
    width: 88px; 
    /* background-color: black; */
   
}
.cost__form-msg-sent {
  color: #393;
  padding: 5px;
  border: 1px solid #393;
  margin-top: 10px;

}
