.my__popup-form {
  position: relative;
  cursor: not-allowed;
}

#popup__form-loader {
    background-image: url('ajax-loader.gif' );
    background-repeat: no-repeat;
    position: absolute;
    bottom: 34px;
    left: 149px;
    height: 40px;
    width: 40px;
}

