/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* Стили для Табов Фото-Слайдера */

.wrapper_tabs {
  margin: 0 auto;
  max-width: 1200px;
  min-width: 320px;
}

.wrapper_tabs .tabs-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 8px;
}

.wrapper_tabs .tabs-nav__item {
  border-bottom: 3px solid transparent;
  cursor: pointer;
  /* border-left: 2px solid transparent; */
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 10px;
  /* border-right: 2px solid transparent; */
  /* border-radius: 3px 3px 0 0; */
  font-family: 'Gotham Pro', Arial, sans-serif;
  font-size: 16px;
}

.wrapper_tabs .tabs-nav__item.is-active {
  border-color: #393;
  /* background-color: #ff993329; */
  -webkit-transition: all 0.3s linear 0.1s;
  -o-transition: all 0.3s linear 0.1s;
  transition: all 0.3s linear 0.1s;
  font-weight: bolder;
  color: #393;
}

.wrapper_tabs .tab {
  background-color: #f2f2f2;
  display: block;
  max-height: 0;
  opacity: 0;
}

.tabs__content {
  height: 300px;

}

.wrapper_tabs .tab.is-active {
  display: block;
  opacity: 1;
  max-height: 680px;
  -webkit-transition: all 0.6s linear 0.4s;
  -o-transition: all 0.6s linear 0.4s;
  transition: all 0.6s linear 0.4s;
  /* transition: all 0.4s linear 0.2s; */
  /* transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.4s; */
}

@media (max-width: 375px) {
  .wrapper_tabs .tabs-nav__item {
    padding-bottom: 0px;
  }
}

@media (min-width: 480px) { 
.tabs__content {
    height: 350px;
 }
}

@media (min-width: 768px) {
  .tabs__content {
    height: 400px;
  }
}

@media (min-width: 992px) {
  .tabs__content {
    height: 500px;
  }
}

@media (min-width: 1200px) {
  .tabs__content {
    height: 600px;
  }
}